.homeHeader {
    width: 142rem;
    margin-left: 250px;
    justify-content: space-between;
    padding-top: 250px;
    height: 80rem;

    @include maxw($bp-tablet) {
        display: flex;
        flex-direction: column;
    }
}


.homeImg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}


.homeHeader__Strong {
    font-size: $--s;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    color: $tropical-blue;
    letter-spacing: .1rem;
}


.homeHeader__Title {
    font-size: $--xl;
    text-transform: uppercase;
    padding-top: 2.4rem;
}


.homeHeader__Text {
    font-size: 1.8rem;
    color: $tropical-blue;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    line-height: 32px;
    padding-top: 2.4rem;
    width: 42rem;
}

.homeHeader__Block{
    width: 67rem;
}


.homeHeader__Button {
    height: 24rem;
    width: 24rem;
    background-color: rgba(255, 255, 255, 0.07);
    margin: auto;
  
    border-radius: 50%;
    display: flex;
    justify-items: center;
    transition: all .8s;
  
    &:hover  {
        width: 450px;
        height: 450px;
    }
}
  

.buttonLink {
    color: $vulcan;
    background-color: $white;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: $--m;
    color: $vulcan;
    margin: auto;
    padding-right: -300px;
    

}