.view--home {
    width: 100vw;
    height: 100vh;
}

.homeHeader {
    padding-top: 25.1rem;
    padding-bottom: 13.1rem;
    width: 75%;
    margin: auto;
    justify-content: space-between;

    // MQ 
    @include minw($bp-medium) {
        width: 111rem;
    }

    @include maxw($bp-tabletL) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10.6rem;
        padding-bottom: 0;
    }

    @include maxw($bp-mobile) {
        padding-top: 50px;
    }
}


.homeHeader__Strong {
    font-size: $--s;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    color: $tropical-blue;
    letter-spacing: .1rem;

    @include maxw($bp-tabletL) {
       letter-spacing: 3.38px;
    }

    @include maxw($bp-mobile) {
        letter-spacing: 2.7px;
        font-size: $--xs;
    }
}


.homeHeader__Title {
    font-size: $--xl;
    text-transform: uppercase;
    padding-top: 2.4rem;
    font-family: 'Bellefair', serif;

    @include maxw($bp-mobile) {
        font-size: 8rem;
    }
}


.homeHeader__Text {
    font-size: 1.8rem;
    color: $tropical-blue;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
    line-height: 32px;
    padding-top: 2.4rem;
    width: 50.4rem;
    font-weight: 100;
    
    @include maxw($bp-mobile) {
        font-size: 1.5rem;
        width: 33rem;
        line-height: 25px;
        letter-spacing: 0;
    }
}

.homeHeader__Block{
    
    @include maxw($bp-tabletL) {
        text-align: center;
    }
    @include maxw($bp-mobile) {
       width: 33rem;
    }
}


.homeHeader__btn {
    font-size: 400;
    font-size: 3.2rem;
    text-transform: uppercase;
    width: 27.4rem;
    height: 27.4rem;
    border-radius: 50%;
    background: #fff;
    position: relative;
    margin-top: 10rem;
    font-family: 'Bellefair', serif;
    letter-spacing: .2rem;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 50%;
        background: #fff;
        opacity: .1;
        transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    &:hover {
        &::before {
            transform: scale(1.5);
        }
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #000;

        transform: translate(-50%,-50%);
    }

    // MQ
    @include maxw($bp-tabletL) {
        margin-bottom: 4rem;
        margin-top: 6rem;
        width: 23.4rem;
        height: 23.4rem;
    }

    @include maxw($bp-mobile) {
        margin-bottom: 7rem;
        margin-top: 4.6rem;
        width: 15rem;
        height: 15rem;
        font-size: 2rem;
    }
}

.homeImg {
    z-index: -1;
    width: 100%;
    height: 100%;
}

.red {
    background-color: red;
}