@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Barlow:wght@100;400;500&display=swap");
/* -------------- color --------------*/
/*--------------- font-size / letter spacing  ----------*/
/*
font-family: 'Barlow Condensed', sans-serif;
 font-family: 'Bellefair', serif;
 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FEF1E6;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

:root {
  font-size: 62.5%;
}

:root body {
  margin: 0;
  font-size: 1.6rem;
}

body {
  font-family: 'Bellefair', serif;
  color: #FFFFFF;
  background-color: #0B0D17;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.fill {
  position: absolute;
  inset: 0;
}

.db {
  display: block;
}

.of {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.pr {
  position: relative;
}

nav {
  color: #FFFFFF;
}

.navImg {
  margin-left: 10rem;
}

@media only screen and (max-width: 1180px) {
  .navImg {
    margin-left: 3rem;
    width: 4rem;
    height: 4rem;
  }
}

.navBar {
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  margin: auto;
}

@media only screen and (max-width: 1180px) {
  .navBar {
    padding-top: 0;
  }
}

.navBar::before {
  position: absolute;
  left: 14%;
  right: 88.8rem;
  height: 1px;
  background: #E1E4EB;
  opacity: 0.4;
  z-index: 1;
}

@media only screen and (min-width: 1181px) {
  .navBar::before {
    content: '';
  }
}

@media only screen and (max-width: 540px) {
  .navBar {
    width: 100%;
    padding-top: 2.4rem;
  }
}

ol {
  counter-reset: section;
  list-style-type: none;
}

.navList__Elem::before {
  counter-increment: section;
  content: counters(section, ".", decimal-leading-zero) " ";
  font-weight: 700;
}

@media only screen and (max-width: 1180px) {
  .navList__Elem::before {
    display: none;
  }
}

.navList {
  width: 88.8rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 96px;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

@media only screen and (max-width: 1180px) {
  .navList {
    width: 65rem;
  }
}

@media only screen and (max-width: 1023px) {
  .navList {
    width: 45rem;
  }
}

@media only screen and (max-width: 540px) {
  .navList {
    display: none;
  }
}

.toggleButton {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 21px;
  border: none;
  background-color: unset;
  z-index: 3;
  left: 5rem;
  cursor: pointer;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .toggleButton {
    margin-left: 12rem;
  }
}

.navList__Elem {
  font-size: 1.6rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  margin-left: -12rem;
}

@media only screen and (max-width: 1180px) {
  .navList__Elem {
    margin-left: 0;
  }
}

.nav__Link {
  position: relative;
  text-decoration: none;
}

.nav__Link:before {
  -webkit-transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav__Link:hover::before {
  content: " ";
  position: absolute;
  left: -19px;
  right: 0px;
  bottom: -38.2px;
  background: #fff;
  opacity: .5;
  -webkit-transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
  height: .3rem;
}

@media only screen and (max-width: 1180px) {
  .nav__Link:hover::before {
    left: 0;
  }
}

.is--active:before {
  content: " ";
  position: absolute;
  left: -19px;
  right: 0px;
  bottom: -38.2px;
  background: #fff;
  height: .3rem;
}

@media only screen and (max-width: 1180px) {
  .is--active:before {
    left: 0;
  }
}

.bar {
  height: 3px;
  width: 2.4rem;
  background-color: #D0D6F9;
}

.dropbtn {
  background-color: unset;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  display: none;
}

@media only screen and (max-width: 540px) {
  .dropdown {
    position: relative;
    display: inline-block;
    margin: auto;
  }
}

.toggleUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12rem;
}

.dropdown-content {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  inset: 0;
  left: 12.1rem;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  opacity: 1;
  font-family: 'Barlow', sans-serif;
}

.dropdown-content:not(.is-open) {
  pointer-events: none;
  display: none;
  opacity: 0;
}

.toggleElem {
  color: white;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.show {
  display: block;
}

.is-open {
  display: block;
}

.view--home {
  width: 100vw;
  height: 100vh;
}

.homeHeader {
  padding-top: 25.1rem;
  padding-bottom: 13.1rem;
  width: 75%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 1441px) {
  .homeHeader {
    width: 111rem;
  }
}

@media only screen and (max-width: 1180px) {
  .homeHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10.6rem;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .homeHeader {
    padding-top: 50px;
  }
}

.homeHeader__Strong {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  color: #D0D6F9;
  letter-spacing: .1rem;
}

@media only screen and (max-width: 1180px) {
  .homeHeader__Strong {
    letter-spacing: 3.38px;
  }
}

@media only screen and (max-width: 767px) {
  .homeHeader__Strong {
    letter-spacing: 2.7px;
    font-size: 1.6rem;
  }
}

.homeHeader__Title {
  font-size: 15rem;
  text-transform: uppercase;
  padding-top: 2.4rem;
  font-family: 'Bellefair', serif;
}

@media only screen and (max-width: 767px) {
  .homeHeader__Title {
    font-size: 8rem;
  }
}

.homeHeader__Text {
  font-size: 1.8rem;
  color: #D0D6F9;
  font-family: 'Barlow', sans-serif;
  letter-spacing: 1px;
  line-height: 32px;
  padding-top: 2.4rem;
  width: 50.4rem;
  font-weight: 100;
}

@media only screen and (max-width: 767px) {
  .homeHeader__Text {
    font-size: 1.5rem;
    width: 33rem;
    line-height: 25px;
    letter-spacing: 0;
  }
}

@media only screen and (max-width: 1180px) {
  .homeHeader__Block {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .homeHeader__Block {
    width: 33rem;
  }
}

.homeHeader__btn {
  font-size: 400;
  font-size: 3.2rem;
  text-transform: uppercase;
  width: 27.4rem;
  height: 27.4rem;
  border-radius: 50%;
  background: #fff;
  position: relative;
  margin-top: 10rem;
  font-family: 'Bellefair', serif;
  letter-spacing: .2rem;
}

.homeHeader__btn::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: #fff;
  opacity: .1;
  -webkit-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.homeHeader__btn:hover::before {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.homeHeader__btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1180px) {
  .homeHeader__btn {
    margin-bottom: 4rem;
    margin-top: 6rem;
    width: 23.4rem;
    height: 23.4rem;
  }
}

@media only screen and (max-width: 767px) {
  .homeHeader__btn {
    margin-bottom: 7rem;
    margin-top: 4.6rem;
    width: 15rem;
    height: 15rem;
    font-size: 2rem;
  }
}

.homeImg {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.red {
  background-color: red;
}

.destination--view {
  height: 100vh;
  width: 100vw;
}

.destinationImg {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.destination {
  width: 80%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 7.6rem;
  padding-bottom: 0;
}

@media only screen and (min-width: 1441px) {
  .destination {
    width: 111rem;
  }
}

@media only screen and (max-width: 1180px) {
  .destination {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    padding-top: 4rem;
  }
}

.destinationLeft__Title {
  font-size: 2.8rem;
  letter-spacing: 4.72px;
  line-height: 1;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 9.7rem;
}

@media only screen and (max-width: 1180px) {
  .destinationLeft__Title {
    margin-bottom: 4rem;
    font-size: 2rem;
  }
}

.destinationLeft__Block {
  width: 57.3rem;
}

@media only screen and (max-width: 1180px) {
  .destinationLeft__Block {
    width: 66.3rem;
  }
}

@media only screen and (max-width: 767px) {
  .destinationLeft__Block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 32.7rem;
  }
}

.destinationRight__Block {
  width: 45rem;
  margin-top: 9.7rem;
}

@media only screen and (max-width: 1180px) {
  .destinationRight__Block {
    margin-top: 5.3rem;
    text-align: center;
    width: 57.3rem;
  }
}

@media only screen and (max-width: 767px) {
  .destinationRight__Block {
    width: 32.7rem;
  }
}

.destinationTitle {
  font-size: 10rem;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
}

@media only screen and (max-width: 1180px) {
  .destinationTitle {
    font-size: 8rem;
  }
}

@media only screen and (max-width: 767px) {
  .destinationTitle {
    margin-top: 2.3rem;
    font-size: 5.6rem;
  }
}

.destinationText {
  font-size: 1.8rem;
  font-family: 'Barlow', sans-serif;
  color: #D0D6F9;
  line-height: 32px;
  padding-top: 2rem;
  font-weight: 100;
}

.destinationText::before {
  content: '';
  margin-top: 17.8rem;
  position: absolute;
  left: 54%;
  right: 17%;
  height: 1px;
  background: #E1E4EB;
  opacity: 0.3;
  z-index: 0;
}

@media only screen and (max-width: 1180px) {
  .destinationText::before {
    left: 11%;
    right: 11%;
    margin-top: 12.3rem;
  }
}

@media only screen and (max-width: 767px) {
  .destinationText::before {
    margin-top: 16rem;
  }
}

@media only screen and (max-width: 1180px) {
  .destinationText {
    font-size: 1.6rem;
    width: 57.3rem;
    line-height: 2.8rem;
  }
}

@media only screen and (max-width: 767px) {
  .destinationText {
    width: 32.7rem;
    line-height: 2.5rem;
    padding-top: 0;
  }
}

.destinationSlider {
  text-transform: uppercase;
  letter-spacing: 2.7px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Barlow', sans-serif;
  width: 34rem;
  padding-bottom: 4rem;
  font-weight: 100;
  height: 3.4rem;
}

@media only screen and (max-width: 1180px) {
  .destinationSlider {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 13rem;
    width: 31rem;
  }
}

@media only screen and (max-width: 767px) {
  .destinationSlider {
    margin-left: 1.7rem;
  }
}

.sliderElem {
  position: relative;
  text-decoration: none;
}

.sliderElem:before {
  -webkit-transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sliderElem:hover::before {
  content: " ";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -1.2rem;
  background: #fff;
  opacity: 0.5;
  -webkit-transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
  height: .3rem;
}

@media only screen and (max-width: 767px) {
  .sliderElem {
    font-size: 1.4rem;
  }
}

.destinationList {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 32rem;
}

@media only screen and (max-width: 1180px) {
  .destinationList {
    width: 37rem;
    margin-left: 10rem;
  }
}

@media only screen and (max-width: 767px) {
  .destinationList {
    width: 22.3rem;
    margin-lef: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 5rem;
  }
}

.destinationList__Text {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2.36px;
  font-family: 'Barlow', sans-serif;
  color: #D0D6F9;
  line-height: 1;
  margin-bottom: 1.2rem;
  font-weight: 100;
}

@media only screen and (max-width: 767px) {
  .destinationList__ELem {
    margin-bottom: 3.2rem;
  }
}

.destinationList__Span {
  font-size: 2.8rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Bellefair', serif;
}

.destinationBlock {
  margin-top: 8.3rem;
}

@media only screen and (max-width: 1180px) {
  .destinationBlock {
    margin-top: 7.2rem;
  }
}

@media only screen and (max-width: 1180px) {
  .planetImg {
    height: 30rem;
    width: 30rem;
  }
}

@media only screen and (max-width: 767px) {
  .planetImg {
    height: 17rem;
    width: 17rem;
  }
}

.accent {
  letter-spacing: 4.72px;
  opacity: 0.3;
  font-weight: 500;
  font-family: 'Barlow Condensed', sans-serif;
}

.active--planet:before {
  content: " ";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -1.2rem;
  background: #fff;
  height: .3rem;
}

@media only screen and (max-width: 1180px) {
  .active--planet:before {
    left: 0;
  }
}

@media only screen and (max-width: 1180px) {
  .destinationPlanet__Fig {
    margin-left: 17rem;
  }
}

@media only screen and (max-width: 767px) {
  .destinationPlanet__Fig {
    margin-left: 0;
  }
}

.crew--view {
  height: 100vh;
  width: 100vw;
}

@media only screen and (max-width: 1180px) {
  .crew--view {
    width: 100%;
  }
}

.crewImg {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.crew {
  width: 80%;
  margin: auto;
  padding-top: 7.6rem;
}

@media only screen and (max-width: 1180px) {
  .crew {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    padding-top: 4rem;
    text-align: center;
    width: 100%;
  }
}

.crewLeft__Block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 6.2rem;
}

@media only screen and (max-width: 1440px) {
  .crewLeft__Block {
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.crewLeft__Title {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  letter-spacing: 4.72px;
  line-height: 1;
  margin-bottom: 9.7rem;
}

@media only screen and (max-width: 1180px) {
  .crewLeft__Title {
    font-size: 2rem;
    margin-bottom: 0;
    margin-right: 45rem;
    letter-spacing: 3.38px;
  }
}

@media only screen and (max-width: 767px) {
  .crewLeft__Title {
    font-size: 1.6rem;
    margin-right: 0;
    letter-spacing: 2.7px;
  }
}

.crewTitle {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
  opacity: .5;
  margin-top: 10rem;
}

@media only screen and (max-width: 1180px) {
  .crewTitle {
    font-size: 2.4rem;
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 767px) {
  .crewTitle {
    font-size: 1.6rem;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 3rem;
  }
}

.crewName {
  font-size: 5.6rem;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 1180px) {
  .crewName {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 767px) {
  .crewName {
    font-size: 2.4rem;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.leftBlock__Text {
  font-size: 1.8rem;
  font-family: 'Barlow', sans-serif;
  color: #D0D6F9;
  line-height: 32px;
  padding-top: 2rem;
  font-weight: 100;
  padding-top: 2.7rem;
  width: 60.4rem;
}

@media only screen and (max-width: 1180px) {
  .leftBlock__Text {
    line-height: 28px;
    width: 45.8rem;
    font-size: 1.6rem;
    padding-top: 1.6rem;
  }
}

@media only screen and (max-width: 767px) {
  .leftBlock__Text {
    font-size: 1.5rem;
    width: 32.7rem;
    line-height: 25px;
    color: #FFFFFF;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.crewSlider {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 13.2rem;
  margin-top: 12rem;
}

@media only screen and (max-width: 1180px) {
  .crewSlider {
    margin-top: 4rem;
    width: 8.8rem;
  }
}

@media only screen and (max-width: 767px) {
  .crewSlider {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 36rem;
  }
}

.crewList {
  background-color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}

.crewList:hover {
  color: white;
  opacity: 1;
}

@media only screen and (max-width: 1180px) {
  .crewList {
    width: 1rem;
    height: 1rem;
  }
}

.crewRight__Img {
  position: absolute;
  right: 7%;
  bottom: 0;
  width: 70rem;
}

@media only screen and (max-width: 1440px) {
  .crewRight__Img {
    position: relative;
    right: unset;
    width: 45.6rem;
  }
}

@media only screen and (max-width: 767px) {
  .crewRight__Img {
    width: 16.7rem;
    position: absolute;
    top: 23%;
  }
}

.crewRight__Img::before {
  content: '';
  left: -50%;
  right: -39%;
  top: 42.2%;
  height: 1px;
  margin-left: 23px;
  background: #E1E4EB;
  opacity: 0.4;
  z-index: 1;
  position: absolute;
  display: none;
}

@media only screen and (max-width: 767px) {
  .crewRight__Img::before {
    display: inline;
  }
}

.crew__Img {
  margin-left: 15rem;
}

@media only screen and (max-width: 1180px) {
  .crew__Img {
    width: 100%;
    margin-left: 0;
  }
}

.crewLink {
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
  padding-right: 1rem;
  border-radius: 50%;
}

.technology--view {
  height: 100vh;
  width: 100vw;
}

@media only screen and (max-width: 1180px) {
  .technology--view {
    width: 100%;
  }
}

.technology {
  width: 80%;
  margin: auto;
  padding-top: 7.6rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 1180px) {
  .technology {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    padding-top: 4rem;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 1180px) {
  .tecnnologyLeft__Block {
    text-align: center;
  }
}

.technologySlider__Block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 5rem;
}

@media only screen and (max-width: 1180px) {
  .technologySlider__Block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 32rem;
  }
}

@media only screen and (max-width: 767px) {
  .technologySlider__Block {
    margin-top: 16rem;
  }
}

.technologyBlock__Text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.technologyTop__Title {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  letter-spacing: 4.72px;
  line-height: 1;
  margin-bottom: 9.7rem;
}

@media only screen and (max-width: 1180px) {
  .technologyTop__Title {
    font-size: 2rem;
    letter-spacing: 3.38px;
  }
}

@media only screen and (max-width: 767px) {
  .technologyTop__Title {
    font-size: 1.6rem;
    margin-right: 0;
    letter-spacing: 2.7px;
  }
}

.technologySlider {
  width: 13.2rem;
}

@media only screen and (max-width: 1180px) {
  .technologySlider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 21rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    padding-bottom: 4rem;
  }
}

@media only screen and (max-width: 767px) {
  .technologySlider {
    width: 15.2rem;
    padding-bottom: 3rem;
  }
}

.technologyList {
  width: 8rem;
  height: 8rem;
  padding-top: 2.2rem;
  margin-top: 2rem;
  border-radius: 50%;
  cursor: pointer;
  border: solid;
  border-width: thin;
  text-align: center;
}

.technologyList:hover {
  background-color: white;
  opacity: 1;
  -webkit-transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
  color: black;
}

@media only screen and (max-width: 1180px) {
  .technologyList {
    width: 6rem;
    height: 6rem;
    padding-top: 1.8rem;
  }
}

@media only screen and (max-width: 767px) {
  .technologyList {
    width: 4rem;
    height: 4rem;
    padding-top: 1.3rem;
  }
}

.techologyLink {
  font-size: 3.6rem;
}

@media only screen and (max-width: 1180px) {
  .techologyLink {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 767px) {
  .techologyLink {
    font-size: 1.6rem;
  }
}

.techologyLink:hover {
  -webkit-transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
  color: black;
}

.technologyBLock__Title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
}

.technologyLeft__Name {
  font-size: 5.6rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 1180px) {
  .technologyLeft__Name {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 767px) {
  .technologyLeft__Name {
    font-size: 2.4rem;
  }
}

.technologyLeft__Text {
  font-size: 1.8rem;
  font-family: 'Barlow', sans-serif;
  color: #D0D6F9;
  line-height: 32px;
  padding-top: 2rem;
  font-weight: 100;
  padding-top: 2.7rem;
  width: 44.4rem;
}

@media only screen and (max-width: 1180px) {
  .technologyLeft__Text {
    line-height: 28px;
    width: 45.8rem;
    font-size: 1.6rem;
    padding-top: 1.6rem;
  }
}

@media only screen and (max-width: 767px) {
  .technologyLeft__Text {
    font-size: 1.5rem;
    width: 32.7rem;
    line-height: 2.5rem;
    color: #FFFFFF;
  }
}

.technologyFig {
  margin-top: 9.3rem;
}

@media only screen and (max-width: 1180px) {
  .technologyFig {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 20%;
  }
}

@media only screen and (max-width: 767px) {
  .technology__Img {
    width: 37.5rem;
  }
}

.tech--active {
  background-color: white;
}

.tech-active {
  color: black;
}
/*# sourceMappingURL=style.css.map */