.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.fill {
    position: absolute;
    inset: 0;
}

.db {
    display: block;
}

.of {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.pr {
    position: relative;
}