/* -------------- color --------------*/

$vulcan: #0B0D17;
$tropical-blue: #D0D6F9;
$white: #FFFFFF;

/*--------------- font-size / letter spacing  ----------*/

$--xxs: 1.4rem;// subheading
$--xs:1.6rem; // nav text
$--s: 2.8rem; // heading 5 ; subheading
$--m: 3.2rem; // heading 4
$--xm: 5.6rem; //heading 3
$--l: 10rem; // heading 2
$--xl: 15rem; // heading 1

$s--sp: 2.35px;
$m--sp: 2.7px;
$l--sp: 4.75px;


/*
font-family: 'Barlow Condensed', sans-serif;
 font-family: 'Bellefair', serif;
 */